In [1]:
print "hello world"

hello world

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [ ]:
# Q1.How do you handle duplicate values in a dataset in Python?
# Identify duplicates records in the data
dupes=my_data.duplicated()
sum(dupes)

# Removing duplicates
my_data_uniq=my_data.drop_duplicates()

In [ ]:
# Q2. You are given two tables
# SQL

SELECT COUNT(r.requester_id) as Num_of_acceptance
FROM friend_request r LEFT JOIN request_accepted a on r.requester_id=a.requester_id
WHERE a.time and a.acceptor_id IS NOT NULL
GROUP BY r.requester_id

SELECT COUNT(requester_id) as Total_num_of_application
FROM friend_request
WHERE time and sent_to_id IS NOT NULL

overall acceptance rate = Num_of_acceptance/Total_num_of_application

# Python

successful_acceptance_table=pd.merge(friend_request,request_accepted
        how="Inner",on="requester_id")
    # how many rows in this table
successful_acceptance_table.shape()
    # Num_of_acceptance= number of rows from above result
    # Total_num_of_application
friend_request[["request_id"]].count()

overall acceptance rate = Num_of_acceptance/Total_num_of_application

In [ ]:
# Q3. business model of your dream company

# Amazon.com

# What is the product?
# media, apparel, baby products, consumer electronics, beauty products,gourmet food, groceries, health and personal-care items
# Services including:  AmazonFresh, Amazon Prime, Amazon Web Services

# Who are the customer
# Anyone who wants to buy things online

# How do they make money
# General retail sales, third party sellers, Amazon Web Services, prime membership subscription

# Why do you want to work for this company?
# In my mind, Amazon.com is more than an e-commerce company, it is an information technology company that contribute to develop 
#high-tech. I read the news about the "Amazon Go", and I was hoping to work for this fast-growing and creative company.

In [4]:
from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di

In [5]:
import scipy

In [9]:
file_location = "/Users/Owner/Desktop/"
file_name = "orders_new.csv"
my_data = pd.read_csv(file_location + file_name)

my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,US,2017-04-02,12624549,6720123150182430132,49.99,3659561261588336546,ANDROID_APPS
1,US,2017-04-01,12624549,17511438899767627798,0.99,3659561261588336546,ANDROID_APPS
2,US,2017-04-04,12624549,1549342062436664018,39.99,3659561261588336546,ANDROID_APPS
3,US,2017-04-04,12624549,7771425263197855716,19.99,3659561261588336546,ANDROID_APPS
4,US,2017-04-01,12624549,17943210556580942992,19.99,3659561261588336546,ANDROID_APPS

In [10]:
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
# experiment_id
a = my_data.experiment_id
np.unique(a)

array([12624548, 12624549], dtype=int64)

In [16]:
# for any given experiment_id, return a list group by date
def GetSeries(my_data, my_id):
    table = my_data[["date", "spend_usd"]][my_data.experiment_id == my_id]
    series = table.groupby('date')['spend_usd'].sum()
    return(series)

In [17]:
# test if this works
red = GetSeries(my_data, 12624548)
blue = GetSeries(my_data, 12624549)
print(red)
print(blue)

date
2017-04-01    55504.518743
2017-04-02    31317.138253
2017-04-03    31583.940583
2017-04-04    23615.742230
2017-04-05    30899.812674
2017-04-06    27768.181870
2017-04-07    32957.001652
Name: spend_usd, dtype: float64
date
2017-04-01    54019.941288
2017-04-02    34642.988992
2017-04-03    28645.762133
2017-04-04    27604.259313
2017-04-05    33149.441763
2017-04-06    29310.726245
2017-04-07    34640.122009
Name: spend_usd, dtype: float64